<section class="section-books" id="section-books">
  <div class="container books-container">
    <h2 class="section-title visually-hidden">Trending books</h2>
    <div class="books-wrapper">
      <div class="books-wrapper-info">
        <h3 class="books-title">books</h3>
        <span class="books-info"></span>
      </div>
      <div class="books-categories">
        <ul class="books-categories-list"></ul>
        <!-- <div class="books-categories-select-wrapper">
          <svg class="books-categories-select-drop" width="24" height="24">
            <use href="/img/icons.svg#icon-chevron-down"></use>
          </svg>
          <select class="books-categories-select">
            <option selected disabled>Categories</option>
          </select>
        </div> -->
        <div class="books-categories-select-wrapper">
          <button type="button" class="books-categories-select-btn">
            <span class="books-categories-select-btn-text">Categories</span>
            <svg class="books-categories-select-drop" width="24" height="24">
              <use href="/img/icons.svg#icon-chevron-down"></use>
            </svg>
          </button>

          <ul class="books-categories-select-list is-hidden">
            <!-- Тут появятся li через JS -->
          </ul>
        </div>
      </div>
    </div>
    <div class="books-side">
      <ul class="books-list"></ul>
      <button class="books-item-show-more is-hidden" type="button">
        show more
      </button>
    </div>
  </div>
</section>

<!-- modal -->
<!-- <div class="books-modal-window">
  <div class="container books-modal-container">
    <button
      type="button"
      class="books-modal-close-btn"
      aria-label="close modal"
    >
      <svg width="32" height="32">
        <use href="/img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="books-modal-image-wrapper">
      <img class="books-modal-image" src="" alt="" />
    </div>
    <div class="books-modal-info-side">
      <h3 class="books-modal-title">I will find you</h3>
      <p class="books-modal-author">Robert Greene</p>
      <p class="books-modal-price">$15</p>
      <div class="books-modal-counter">
        <button
          type="button"
          class="book-modal-counter-btn book-modal-counter-decrease"
        >
          <svg width="24" height="24">
            <use href="/img/icons.svg#icon-minus"></use>
          </svg>
        </button>
        <span class="book-modal-counter-value">1</span>
        <button
          type="button"
          class="book-modal-counter-btn book-modal-counter-increase"
        >
          <svg width="24" height="24">
            <use href="/img/icons.svg#icon-plus"></use>
          </svg>
        </button>
      </div>
      <div class="books-modal-buttons">
        <button type="button" class="books-modal-add-to-cart">
          add to cart
        </button>
        <button type="button" class="books-modal-buy-now">buy now</button>
      </div>
      <ul class="books-accordion">
        <li class="books-accordion-item">
          <button class="books-accordion-toggle" type="button">
            <span class="books-accordion-title">Details</span>
            <svg class="books-accordion-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-chevron-down"></use>
            </svg>
          </button>
          <div class="books-accordion-content">
            <p class="books-accordion-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit...
            </p>
          </div>
        </li>
        <li class="books-accordion-item">
          <button class="books-accordion-toggle" type="button">
            <span class="books-accordion-title">Details</span>
            <svg class="books-accordion-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-chevron-down"></use>
            </svg>
          </button>
          <div class="books-accordion-content">
            <p class="books-accordion-text">
              I Will Find You is a gripping thriller by the master of suspense,
              Harlan Coben. The story follows David Burroughs, a former prisoner
              wrongfully convicted of murdering his own son. When he discovers a
              clue suggesting his son might still be alive, David escapes from
              prison to uncover the truth. Fast-paced, emotional, and full of
              unexpected twists — this novel will keep you hooked until the very
              last page.
            </p>
          </div>
        </li>
        <li class="books-accordion-item is-open">
          <button class="books-accordion-toggle" type="button">
            <span class="books-accordion-title">Details</span>
            <svg class="books-accordion-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-chevron-down"></use>
            </svg>
          </button>
          <div class="books-accordion-content">
            <p class="books-accordion-text">
              I Will Find You is a gripping thriller by the master of suspense,
              Harlan Coben. The story follows David Burroughs, a former prisoner
              wrongfully convicted of murdering his own son. When he discovers a
              clue suggesting his son might still be alive, David escapes from
              prison to uncover the truth. Fast-paced, emotional, and full of
              unexpected twists — this novel will keep you hooked until the very
              last page.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div> -->
