<section class="section-books" id="section-books">
  <div class="container books-container">
    <h2 class="section-title visually-hidden">Trending books</h2>
    <div class="books-wrapper">
      <div class="books-wrapper-info">
        <h3 class="books-title">books</h3>
        <span class="books-info"></span>
      </div>
      <div class="books-categories">
        <ul class="books-categories-list"></ul>

        <div class="books-categories-select-wrapper">
          <button type="button" class="books-categories-select-btn">
            <span class="books-categories-select-btn-text">Categories</span>
            <svg class="books-categories-select-drop" width="24" height="24">
              <use href="/img/icons.svg#icon-chevron-down"></use>
            </svg>
          </button>

          <ul class="books-categories-select-list is-hidden">
            <!-- Тут появятся li через JS -->
          </ul>
        </div>
      </div>
    </div>
    <div class="books-side">
      <ul class="books-list"></ul>
      <button class="books-item-show-more is-hidden" type="button">
        show more
      </button>
    </div>
  </div>
</section>
