<section class="section-events" id="section-events">
  <div class="container container-events">
    <p class="events-eyebrow">events</p>
    <h2 class="events-title">Upcoming Events at Booksy</h2>
    <p class="events-discription">
      Discover readings, workshops, and bookish gatherings — online and offline.
      Everyone’s welcome.
    </p>
    <div class="swiper events-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide events-item">
          <img class="events-item-event-photo" src="" alt="" />
          <div class="events-item-event-info">
            <h2 class="events-item-event-title">
              Cozy Book Club — “The Midnight Library”
            </h2>
            <p class="events-item-event-time">In-store | June 5, 6:30 PM</p>
            <p class="events-item-event-description" id="event-desc-3">
              Join us for an evening of tea, thoughtful conversation, and shared
              reflections as we dive into Matt Haig’s bestseller. Join us for an
              evening of tea, thoughtful conversation, and shared reflections as
              we dive into Matt Haig’s bestseller.
            </p>
            <div class="events-buttons-wrap">
              <button
                class="event-show-more"
                type="button"
                aria-controls="event-desc-3"
              >
                Read more
              </button>
              <button
                class="events-register-modal-open"
                type="button"
                aria-haspopup="dialog"
                aria-controls="register-modal"
              >
                Register
                <svg width="24" height="24">
                  <use href="./img/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide events-item">
          <img class="events-item-event-photo" src="" alt="" />
          <div class="events-item-event-info">
            <h2 class="events-item-event-title">
              Cozy Book Club — “The Midnight Library”
            </h2>
            <p class="events-item-event-time">In-store | June 5, 6:30 PM</p>
            <p class="events-item-event-description" id="event-desc-5">
              Join us for an evening of tea, thoughtful conversation, and shared
              reflections as we dive into Matt Haig’s bestseller. Join us for an
              evening of tea, thoughtful conversation, and shared reflections as
              we dive into Matt Haig’s bestseller.
            </p>
            <div class="events-buttons-wrap">
              <button
                class="event-show-more"
                type="button"
                aria-controls="event-desc-5"
              >
                Read more
              </button>
              <button
                class="events-register-modal-open"
                type="button"
                aria-haspopup="dialog"
                aria-controls="register-modal"
              >
                Register
                <svg width="24" height="24">
                  <use href="./img/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
        <li class="swiper-slide events-item">
          <img class="events-item-event-photo" src="" alt="" />
          <div class="events-item-event-info">
            <h2 class="events-item-event-title">
              Cozy Book Club — “The Midnight Library”
            </h2>
            <p class="events-item-event-time">In-store | June 5, 6:30 PM</p>
            <p class="events-item-event-description" id="event-desc-2">
              Join us for an evening of tea, thoughtful conversation, and shared
              reflections as we dive into Matt Haig’s bestseller. Join us for an
              evening of tea, thoughtful conversation, and shared reflections as
              we dive into Matt Haig’s bestseller.
            </p>
            <div class="events-buttons-wrap">
              <button
                class="event-show-more"
                type="button"
                aria-controls="event-desc-2"
              >
                Read more
              </button>
              <button
                class="events-register-modal-open"
                type="button"
                aria-haspopup="dialog"
                aria-controls="register-modal"
              >
                Register
                <svg width="24" height="24">
                  <use href="./img/icons.svg#icon-chevron-right"></use>
                </svg>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="events-swiper-controls">
      <div class="events-swiper-pagination"></div>
      <div class="events-slider-controls">
        <button class="events-button-prev" aria-label="Prev">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button class="events-button-next" aria-label="Next">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
