<section class="section-feedbacks" id="section-feedbacks">
  <div class="container container-feedbacks">
    <h2 class="feedbacks-title">Customer Feedbacks</h2>
    <p class="feedbacks-discription">
      See what our readers are saying about us!
    </p>
    <div class="swiper feedbacks-swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide feedbacks-item">
          <p class="feedbacks-item-user-message">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="feedbacks-item-user-info">
            <img class="feedbacks-item-user-photo" src="" alt="" />
            <div class="feedbacks-item-user">
              <h3 class="feedbacks-item-user-name">Jane Doe1</h3>
              <p class="feedbacks-item-user-role">Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide feedbacks-item">
          <p class="feedbacks-item-user-message">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="feedbacks-item-user-info">
            <img class="feedbacks-item-user-photo" src="" alt="" />
            <div class="feedbacks-item-user">
              <h3 class="feedbacks-item-user-name">Jane Doe</h3>
              <p class="feedbacks-item-user-role">Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide feedbacks-item">
          <p class="feedbacks-item-user-message">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="feedbacks-item-user-info">
            <img class="feedbacks-item-user-photo" src="" alt="" />
            <div class="feedbacks-item-user">
              <h3 class="feedbacks-item-user-name">Jane Doe2</h3>
              <p class="feedbacks-item-user-role">Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide feedbacks-item">
          <p class="feedbacks-item-user-message">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="feedbacks-item-user-info">
            <img class="feedbacks-item-user-photo" src="" alt="" />
            <div class="feedbacks-item-user">
              <h3 class="feedbacks-item-user-name">Jane Doe3</h3>
              <p class="feedbacks-item-user-role">Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide feedbacks-item">
          <p class="feedbacks-item-user-message">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="feedbacks-item-user-info">
            <img class="feedbacks-item-user-photo" src="" alt="" />
            <div class="feedbacks-item-user">
              <h3 class="feedbacks-item-user-name">Jane Doe4</h3>
              <p class="feedbacks-item-user-role">Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide feedbacks-item">
          <p class="feedbacks-item-user-message">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="feedbacks-item-user-info">
            <img class="feedbacks-item-user-photo" src="" alt="" />
            <div class="feedbacks-item-user">
              <h3 class="feedbacks-item-user-name">Jane Doe5</h3>
              <p class="feedbacks-item-user-role">Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide feedbacks-item">
          <p class="feedbacks-item-user-message">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="feedbacks-item-user-info">
            <img class="feedbacks-item-user-photo" src="" alt="" />
            <div class="feedbacks-item-user">
              <h3 class="feedbacks-item-user-name">Jane Doe6</h3>
              <p class="feedbacks-item-user-role">Book Lover, Reader</p>
            </div>
          </div>
        </li>
        <li class="swiper-slide feedbacks-item">
          <p class="feedbacks-item-user-message">
            Great selection, fast delivery, and beautifully packaged books. My
            go-to store for weekend reads!
          </p>
          <div class="feedbacks-item-user-info">
            <img class="feedbacks-item-user-photo" src="" alt="" />
            <div class="feedbacks-item-user">
              <h3 class="feedbacks-item-user-name">Jane Doe7</h3>
              <p class="feedbacks-item-user-role">Book Lover, Reader</p>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div class="feedbacks-swiper-controls">
      <div class="feedbacks-swiper-pagination"></div>
      <div class="feedbacks-slider-controls">
        <button class="feedbacks-button-prev" aria-label="Prev">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button class="feedbacks-button-next" aria-label="Next">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
