<header class="section-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="header-logo" href="./index.html">
        <img
          class="header-logo-image"
          src="./img/logo.svg"
          alt="leafy logo"
          loading="lazy"
        />
      </a>
      <ul class="header-nav-list">
        <li class="header-nav-item">
          <a href="./index.html" class="header-nav-link">home</a>
        </li>
        <li class="header-nav-item">
          <a href="#section-books" class="header-nav-link">books</a>
        </li>
        <li class="header-nav-item">
          <a href="#section-feedbacks" class="header-nav-link">feedbacks</a>
        </li>
        <li class="header-nav-item">
          <a href="#section-events" class="header-nav-link">events</a>
        </li>
        <li class="header-nav-item">
          <a href="#section-location" class="header-nav-link">location</a>
        </li>
      </ul>
      <button
        class="header-mobile-menu"
        type="button"
        aria-label="Open mobile menu"
      >
        <svg class="header-mobile-menu-open" width="24" height="24">
          <use href="./img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>
</header>
<!-- !HEADER - MENU -->
<div class="mobile-menu-modal" tabindex="-1">
  <div class="container">
    <div class="mobile-menu-top">
      <a class="mobile-menu-logo" href="./index.html">
        <img
          class="mobile-menu-logo-image"
          src="./img/logo.svg"
          alt="leafy logo"
          loading="lazy"
        />
      </a>

      <button
        class="mobile-menu-close"
        type="button"
        aria-label="Close mobile menu"
      >
        <svg width="24" height="24">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
    </div>
    <div class="mobile-menu-bottom">
      <ul class="mobile-menu-list">
        <li class="mobile-menu-item">
          <a href="/src/index.html" class="mobile-menu-link">home</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#section-books" class="mobile-menu-link">books</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#section-feedbacks" class="mobile-menu-link">feedbacks</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#section-events" class="mobile-menu-link">events</a>
        </li>
        <li class="mobile-menu-item">
          <a href="#section-location" class="mobile-menu-link">location</a>
        </li>
      </ul>
    </div>
  </div>
</div>
