<section class="section-hero">
  <div class="container">
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <picture>
            <!-- pc -->
            <source
              srcset="
                ./img/hero/hero-pc-1.webp    1x,
                ./img/hero/hero-pc-1@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero/hero-pc-1.jpg    1x,
                ./img/hero/hero-pc-1@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <!-- tab -->
            <source
              srcset="
                ./img/hero/hero-tab-1.webp    1x,
                ./img/hero/hero-tab-1@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero/hero-tab-1.jpg    1x,
                ./img/hero/hero-tab-1@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <!-- mob -->
            <source
              srcset="
                ./img/hero/hero-mob-1.webp    1x,
                ./img/hero/hero-mob-1@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <img
              class="hero-image"
              srcset="./img/hero/hero-mob-1@2x.jpg 2x"
              src="./img/hero/hero-mob-1.jpg"
              alt="bags"
              loading="lazy"
            />
          </picture>
          <div class="hero-slide-content">
            <h3 class="hero-slide-title">Get 10% off your first order</h3>
            <a href="#section-books" class="hero-link">Shop Now!</a>
          </div>
        </li>
        <li class="swiper-slide">
          <picture>
            <!-- pc -->
            <source
              srcset="
                ./img/hero/hero-pc-2.webp    1x,
                ./img/hero/hero-pc-2@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero/hero-pc-2.jpg    1x,
                ./img/hero/hero-pc-2@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <!-- tab -->
            <source
              srcset="
                ./img/hero/hero-tab-2.webp    1x,
                ./img/hero/hero-tab-2@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero/hero-tab-2.jpg    1x,
                ./img/hero/hero-tab-2@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <!-- mob -->
            <source
              srcset="
                ./img/hero/hero-mob-2.webp    1x,
                ./img/hero/hero-mob-2@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <img
              class="hero-image"
              srcset="./img/hero/hero-mob-2@2x.jpg 2x"
              src="./img/hero/hero-mob-2.jpg"
              alt="bags"
              loading="lazy"
            />
          </picture>
          <div class="hero-slide-content">
            <h3 class="hero-slide-title">
              Save 15% on <br />
              some books
            </h3>
            <a href="#section-books" class="hero-link">Shop Now!</a>
          </div>
        </li>
        <li class="swiper-slide">
          <picture>
            <!-- pc -->
            <source
              srcset="
                ./img/hero/hero-pc-3.webp    1x,
                ./img/hero/hero-pc-3@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero/hero-pc-3.jpg    1x,
                ./img/hero/hero-pc-3@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <!-- tab -->
            <source
              srcset="
                ./img/hero/hero-tab-3.webp    1x,
                ./img/hero/hero-tab-3@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero/hero-tab-3.jpg    1x,
                ./img/hero/hero-tab-3@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <!-- mob -->
            <source
              srcset="
                ./img/hero/hero-mob-3.webp    1x,
                ./img/hero/hero-mob-3@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <img
              class="hero-image"
              srcset="./img/hero/hero-mob-3@2x.jpg 2x"
              src="./img/hero/hero-mob-3.jpg"
              alt="bags"
              loading="lazy"
            />
          </picture>
          <div class="hero-slide-content">
            <h3 class="hero-slide-title">
              Summer Sale! <br />
              Up to -40% discounts
            </h3>
            <a href="#section-books" class="hero-link">Shop Now!</a>
          </div>
        </li>
        <li class="swiper-slide">
          <picture>
            <!-- pc -->
            <source
              srcset="
                ./img/hero/hero-pc-4.webp    1x,
                ./img/hero/hero-pc-4@2x.webp 2x
              "
              media="(min-width: 1440px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero/hero-pc-4.jpg    1x,
                ./img/hero/hero-pc-4@2x.jpg 2x
              "
              media="(min-width: 1440px)"
              type="image/jpeg"
            />
            <!-- tab -->
            <source
              srcset="
                ./img/hero/hero-tab-4.webp    1x,
                ./img/hero/hero-tab-4@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/hero/hero-tab-4.jpg    1x,
                ./img/hero/hero-tab-4@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <!-- mob -->
            <source
              srcset="
                ./img/hero/hero-mob-4.webp    1x,
                ./img/hero/hero-mob-4@2x.webp 2x
              "
              media="(min-width: 320px)"
              type="image/webp"
            />
            <img
              class="hero-image"
              srcset="./img/hero/hero-mob-4@2x.jpg 2x"
              src="./img/hero/hero-mob-4.jpg"
              alt="bags"
              loading="lazy"
            />
          </picture>
          <div class="hero-slide-content">
            <h3 class="hero-slide-title">
              Last chance to buy our spring bestsellers
            </h3>
            <a href="#section-books" class="hero-link">Shop Now!</a>
          </div>
        </li>
      </ul>
    </div>
    <div class="hero-bottom">
      <h1 class="hero-title">Discover Your Next Great Read Today!</h1>
      <div class="hero-slider-controls">
        <button class="hero-button-prev" aria-label="Prev">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-left-arrow-alt"></use>
          </svg>
        </button>
        <button class="hero-button-next" aria-label="Next">
          <svg width="24" height="24">
            <use href="./img/icons.svg#icon-right-arrow-alt"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
