<section class="section-location" id="section-location">
  <div class="container">
    <div class="location-info-side">
      <div class="location-info">
        <p class="location-eyebrow">Location</p>
        <h2 class="location-title">How to find us</h2>
        <p class="location-discription">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>
      <address class="location-contacts">
        <ul class="location-contact-list">
          <li class="location-contact-item">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-mail"></use>
            </svg>
            <div class="location-contact-wrapper">
              <p class="location-contact-name">Email</p>
              <a class="location-contact-link" href="mailto:hello@booksy.com"
                >hello@booksy.com</a
              >
            </div>
          </li>
          <li class="location-contact-item">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-phone"></use>
            </svg>
            <div class="location-contact-wrapper">
              <p class="location-contact-name">Phone</p>
              <a class="location-contact-link" href="tel:+61 (241) 304-3012"
                >+61 (241) 304-3012</a
              >
            </div>
          </li>
          <li class="location-contact-item">
            <svg width="24" height="24">
              <use href="./img/icons.svg#icon-map"></use>
            </svg>
            <div class="location-contact-wrapper">
              <p class="location-contact-name">Office</p>
              <a
                href="https://maps.google.com/?q=123+Books+St,+Sydney+NSW+2000+AU"
                target="_blank"
                rel="noopener"
              >
                123 Books St, Sydney NSW 2000 AU
              </a>
            </div>
          </li>
        </ul>
      </address>
    </div>
    <div class="location-map-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d2005.7236241644525!2d151.20402309092458!3d-33.872162204536465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123%20Books%20St%2C%20Sydney%20NSW%202000%20AU!5e1!3m2!1sru!2sua!4v1754139964481!5m2!1sru!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
