/* Styles for Mobile devices */
@media screen {
  .event-modal-window {
    position: relative;
    border-radius: 16px;
    padding-top: 64px;
    padding-bottom: 64px;
    width: 100%;
    max-width: 343px;
    background: var(--color-scheme-1-background);

    max-height: 90vh;
    overflow-y: auto;
    scrollbar-width: none;
  }
  .event-modal-container {
    min-width: 320px;
    max-width: 375px;
    margin: 0 auto;
    padding: 0 16px;
  }
  .event-modal-close-btn {
    position: absolute;
    top: 16px;
    right: 16px;

    background-color: transparent;
    border: none;
    font-size: 16px;
    color: var(--color-neutral-darkest);
    cursor: pointer;
    transition: fill var(--transition-base);
  }
  .event-modal-close-btn:hover {
    fill: var(--color-bamboo);
  }
  .event-modal-close-btn:active {
    fill: var(--color-bamboo-dark);
  }

  .event-modal-title {
    font-weight: 600;
    font-size: 48px;

    /* line-height: 58px; */
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 16px;
  }
  .event-modal-description {
    font-weight: 400;
    font-size: 24px;

    /* line-height: 34px; */
    line-height: 1.4;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-scheme-1-text);
    margin-bottom: 48px;
  }
  .event-form {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    /* margin-bottom: 24px; */
  }
  .event-form-list {
  }
  .event-form-item {
  }
  .event-form-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--color-scheme-1-text);
  }
  .event-form-input {
    display: block;
    width: 100%;
    height: 40px;
    margin-top: 8px;
    padding: 8px 12px;
    background-color: var(--opacity-neutral-darkest-5);

    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 6px;
    font: var(--text-support-form-label-all);
    color: var(--color-scheme-2-text);
    transition: border var(--transition-base), color var(--transition-base);
    margin-bottom: 24px;
  }
  .form-input-invalid-text {
  }
  .event-form-area {
    display: block;
    width: 100%;
    height: 180px;
    margin-top: 8px;
    padding: 12px;
    resize: none;
    background-color: rgba(3, 10, 6, 0.05);
    border: 1px solid rgba(3, 10, 6, 0.15);
    border-radius: 6px;
    font: var(--text-support-form-label-all);
    color: var(--color-scheme-2-text);
    transition: border var(--transition-base), color var(--transition-base);
  }
  .form-area-invalid-text {
    display: block;
    position: absolute;
    opacity: 0;
    left: 3px;
    bottom: -25px;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--color-error-red);
    transition: opacity var(--transition-base);
  }
  .event-form-area::placeholder {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--opacity-neutral-darkest-60);
  }
  .event-form-area:focus {
    outline: transparent;
  }

  .event-form-area:focus::placeholder {
    opacity: 0;
  }

  .event-form-area:not(:placeholder-shown):invalid {
    border: 1px solid #d64040;
    color: #d64040;
  }

  .event-form-area:not(:placeholder-shown):invalid + .form-area-invalid-text {
    opacity: 1;
  }

  .event-btn {
    width: 100%;
    height: 50px;
    padding: 12px 24px;
    background: var(--color-bamboo);
    border-radius: 6px;
    border: 1px solid var(--color-bamboo);
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--color-white);
    margin-bottom: 24px;
    transition: background var(--transition-base), border var(--transition-base),
      color var(--transition-base);
  }

  .event-btn:hover,
  .event-btn:focus {
    background-color: var(--color-emerald-darkest);
    outline: transparent;
    border: 1px solid var(--color-neutral-darkest);
    color: var(--color-scheme-1-text);
  }

  .event-btn:active {
    background-color: var(--color-scheme-1-accent);
    opacity: 0.5;
  }
  .form-input-invalid-text {
    position: absolute;
    opacity: 0;
    cursor: default;
    left: 3px;
    bottom: -20px;
    font: var(--text-support-form-label-all);
    font-size: 12px;
    color: var(--color-error-red);
    transition: opacity var(--transition-base);
  }
  .event-form-input:focus {
    outline: transparent;
  }
  .event-form-input::placeholder {
    font: var(--text-support-form-label-all);
    color: var(--opacity-neutral-darkest-60);
  }
  .event-form-input:focus::placeholder {
    opacity: 0;
  }
  .event-form-input:not(:placeholder-shown):invalid {
    border: 1px solid #d64040;
    color: #d64040;
  }
  .event-form-input:not(:placeholder-shown):invalid + .form-input-invalid-text {
    opacity: 1;
  }
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .event-modal-window {
    max-width: 704px;
  }
  .event-modal-container {
    max-width: 768px;

    padding: 0 32px;
  }
  .event-modal-close-btn {
  }
  .event-modal-title {
  }
  .event-modal-description {
  }
  .event-form {
  }
  .event-form-list {
  }
  .event-form-item {
  }
  .event-form-label {
  }
  .event-form-input {
  }
  .form-input-invalid-text {
  }
  .event-form-area {
  }
  .form-area-invalid-text {
  }
  .event-btn {
    width: 342px;
    margin: 0 auto;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .event-modal-window {
    width: 866px; /* гарантированная ширина */
    max-width: 100vw;
  }
  .event-modal-container {
    max-width: 100%; /* убери фикс. ограничения! */
    padding: 0 64px;
  }
  .event-modal-close-btn {
  }
  .event-modal-title {
  }
  .event-modal-description {
  }
  .event-form {
  }
  .event-form-list {
  }
  .event-form-item {
  }
  .event-form-label {
  }
  .event-form-input {
  }
  .form-input-invalid-text {
  }
  .event-form-area {
  }
  .form-area-invalid-text {
  }
  .event-btn {
  }
}
