/* .feedbacks-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 4px;
  background: #ff6b01;
  opacity: 0.4;
  margin-right: 6px;
  transition: opacity 0.3s;
}
.feedbacks-pagination-bullet-active {
  opacity: 1;
  background: #fd9735;
} */

/* Styles for Mobile devices */
@media screen {
  .section-feedbacks {
    padding-top: 64px;
    padding-bottom: 64px;
  }
  .container {
  }
  .container-feedbacks {
  }
  .feedbacks-title {
    color: var(--color-scheme-2-text);
    font-weight: 600;
    font-size: 36px;

    /* line-height: 43px; */
    line-height: 1.2;
    letter-spacing: -0.01em;
    margin-bottom: 24px;
  }
  .feedbacks-discription {
    font-weight: 400;
    font-size: 18px;

    /* line-height: 27px; */
    line-height: 1.5;
    color: var(--color-scheme-2-text);
    margin-bottom: 80px;
  }
  .swiper {
  }
  .feedbacks-swiper {
    margin-bottom: 32px;
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .feedbacks-item {
    height: 314px !important;
    border: 1px solid var(--color-scheme-2-border);
    border-radius: 16px;
    padding: 32px;
    /* max-width: 341px; */
    width: 100%;

    background: var(--color-scheme-2-foreground);
  }
  .feedbacks-item-user-message {
    font-weight: 400;
    font-size: 18px;

    /* line-height: 27px; */
    line-height: 1.5;
    color: var(--color-scheme-2-text);
    margin-bottom: 24px;
  }
  .feedbacks-item-user-info {
    display: flex;
    gap: 16px;
  }
  .feedbacks-item-user-photo {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: aqua;
  }
  .feedbacks-item-user {
  }
  .feedbacks-item-user-name {
    font-weight: 600;
    font-size: 16px;

    line-height: 1.5;
    color: var(--color-scheme-2-text);
  }
  .feedbacks-item-user-role {
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    color: var(--color-scheme-2-text);
  }
  .feedbacks-swiper-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* 1 */
  .feedbacks-pagination-bullet {
    width: 10px;
    height: 10px;
    background: var(--color-scheme-2-text);
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px;
    transition: background 0.3s;
    opacity: 0.2;
  }

  .feedbacks-pagination-bullet-active {
    background: var(--color-scheme-2-text);
    opacity: 1;
  }
  /* 1 */
  .feedbacks-swiper-pagination {
  }

  .feedbacks-slider-controls {
    display: flex;
    gap: 16px;
  }
  .feedbacks-button-prev,
  .feedbacks-button-next {
    display: block;
    border: 1px solid var(--opacity-neutral-darkest-15);
    padding: 12px;
    width: 48px;
    height: 48px;
    background: var(--color-scheme-3-foreground);
    display: flex;
    justify-content: center;
    align-items: center;
    fill: white;
  }
}
/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .section-feedbacks {
  }
  .container {
  }
  .container-feedbacks {
  }
  .feedbacks-title {
  }
  .feedbacks-discription {
  }
  .swiper {
  }
  .feedbacks-swiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .feedbacks-item {
    height: 244px !important;
  }
  .feedbacks-item-user-message {
  }
  .feedbacks-item-user-info {
  }
  .feedbacks-item-user-photo {
  }
  .feedbacks-item-user {
  }
  .feedbacks-item-user-name {
  }
  .feedbacks-item-user-role {
  }
  .feedbacks-swiper-controls {
  }
  .feedbacks-swiper-pagination {
  }
  .feedbacks-slider-controls {
  }
  .feedbacks-button-prev {
  }
  .feedbacks-button-next {
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .section-feedbacks {
  }
  .container {
  }
  .container-feedbacks {
  }
  .feedbacks-title {
  }
  .feedbacks-discription {
  }
  .swiper {
  }
  .feedbacks-swiper {
  }
  .swiper-wrapper {
  }
  .swiper-slide {
  }
  .feedbacks-item {
    height: 217px !important;
  }
  .feedbacks-item-user-message {
  }
  .feedbacks-item-user-info {
  }
  .feedbacks-item-user-photo {
  }
  .feedbacks-item-user {
  }
  .feedbacks-item-user-name {
  }
  .feedbacks-item-user-role {
  }
  .feedbacks-swiper-controls {
  }
  .feedbacks-swiper-pagination {
  }
  .feedbacks-slider-controls {
  }
  .feedbacks-button-prev {
  }
  .feedbacks-button-next {
  }
}
