/* Styles for Mobile devices */
@media screen {
  .section-footer {
    background: var(--color-scheme-3-background);
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-bottom: 80px;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .header-logo {
    align-self: center;
  }

  .footer-nav-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .footer-nav-item {
    text-align: center;
    transition: transform var(--transition-base);
  }
  .footer-nav-link {
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    text-transform: capitalize;
    color: var(--color-scheme-1-text);
    transition: color var(--transition-base);
  }
  .footer-nav-item:hover {
    transform: translateY(-4px);
  }

  .footer-form-label {
    font-weight: 600;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--color-scheme-3-text);
    margin-bottom: 16px;
  }
  .footer-form-controls {
    display: flex;
    gap: 16px;
    margin-bottom: 6px;
  }
  .footer-form-input {
    border: 1px solid var(--opacity-neutral-darkest-15);
    border-radius: 4px;
    padding: 8px 12px;
    max-width: 221px;
    width: 100%;
    height: 48px;
    background: var(--opacity-neutral-darkest-5);
    outline: transparent;
    transition: border-color var(--transition-base);
  }
  .footer-form-input:hover,
  .footer-form-input:focus {
    border-color: var(--color-neutral-darkest);
  }
  .footer-form-input::placeholder {
    font: var(--text-regular-normal);
    color: var(--opacity-neutral-darkest-60);
  }
  .footer-form-btn {
    border: 1px solid var(--color-neutral-darkest);
    border-radius: 4px;
    padding: 12px 24px;
    width: 106px;
    height: 48px;
    text-wrap: nowrap;
    background: transparent;
    font-weight: 400;
    font-size: 16px;

    /* line-height: 24px; */
    line-height: 1.5;
    color: var(--color-neutral-darkest);
    transition: color var(--transition-base), background var(--transition-base);
  }
  .footer-form-btn:hover,
  .footer-subs-button:focus {
    color: var(--color-white);
    background: var(--color-neutral-darkest);
  }
  .footer-form-btn:active {
    color: var(--color-white);
    background: var(--color-bamboo-dark);
  }

  .footer-separator {
    border: 1px solid var(--color-scheme-3-border);
    max-width: 343px;
    margin: 0 auto;
  }
  .footer-bottom {
    font-weight: 400;
    font-size: 14px;

    /* line-height: 21px; */
    line-height: 1.5;
    color: var(--color-scheme-3-text);
    text-align: center;
    margin-top: 32px;
  }
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
    justify-content: center;
  }

  .footer-join {
    display: flex;
    justify-content: center;
  }
  .footer-form {
    width: 400px;
  }

  .footer-form-input {
    max-width: 278px;
  }

  .footer-separator {
    max-width: 640px;
  }
}
/* Styles for Desktop devices */
@media only screen and (min-width: 1440px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-logo {
    align-self: start;
  }

  .footer-separator {
    max-width: 1312px;
  }
}
